<h1>Expression de vos besoins</h1>
  <div class ="sous_titre"> Vous avez un projet web, n'hésitez pas à nous en faire part en complétant le formulaire ci-dessous. <br>
Prenez quelques minutes pour remplir ce formulaire qui nous aidera à cibler au mieux les besoins liés à votre projet de réalisation / refonte de votre site Internet.</div>
<%= render 'form' %>