<h1>Déposez votre demande de projet</h1>
  <div class ="sous_titre"> Vous avez un projet web, n'hésitez pas à nous en faire part en complétant le formulaire ci-dessous. <br>
  Une équipe de Simplon.ve prendra rapidement contact avec vous. </div>
<%= render 'form' %>


