
@font-face {
    font-family: 'fonts';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Light.woff') format('woff'),
         url('fonts/Raleway-Light.ttf') format('truetype'),
         url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	font-family: 'fonts';
}
h1 {
	color: #3F4850;
	text-align: center;
}
.sous_titre{
	text-align: center;
	margin-bottom: 1%;
	color:#999C29;
	font-size:1.1em;
}
.obligatoire {
	color: red;
	font-weight: : bold;
	font-size: 1.3em;

}
.container {
	margin-left:10%;
	margin-right: 10%;
	background-color: #EEECEC;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 2%;
}
.personne {
	margin-bottom: 1%;
}
.texte_intro{
	color:#185E8E;
	font-size: 1.1em;
}
img.logo_simplonve{
	float: right;
	width:40%;
}
img.remerciements {
	display: block;
	width:80%;
}
.titre_show{
	display:inline-block;
}
.champ_form {
	margin-bottom: 5%;
	margin-top: 5%;
}
.champ_input {
	width: 40%;
	height: 2em;
	border-radius: 5px;
}
.description {
	margin: 10px;
}
#projet_description, #projet_carateristiques_hebergement, #projet_fonctionnalites, #projet_langues, #projet_promotion_reseaux_sociaux, #projet_complements_infos {
	width: 100%;
	height: 250px;
	border-radius: 5px;
	word-wrap: break-word;
}
.bouton {
	width: 15%;
	height: 2em;
	background-color: #999C29;
	border-radius: 5px;
	color: white;
	margin-top:10px;
}
.bouton2 {
	height:2em;
	background-color: #999C29;
	border-radius: 5px;
	color: white;
}
.boite {
	width: 40%;
	height: 20px;
	padding: 1%;
	border-radius: 5px;
	background-color: white;
	border-radius: 5px;
	margin-top: -1%;
}
.boite_description {
	width: 80%;
	height: 250px;
	padding: 1%;
	overflow: auto;
	background-color: white;
    word-wrap: break-word;
    border-radius: 5px;
	margin-top: -1%;
}
.description_index {
	width: 80%;
	word-wrap: break-word;
}
.titre {
	text-align: center;
	width: 15%;
}
.titre_liste{
	text-align: center;
}
table{
	margin-left:auto;
             margin-right:auto;
}
table td {
	 border: #3399CC 1px solid;
}
a {
    width: 15%;
    height: 2em;
    text-decoration: none;
    color: #7d6464;
    padding: 1%;
    border-radius: 5px;
}

/* Medias Querries */

@media (max-width:600px){
	h1 {
		color: #185E8E;
		font-size:1.5em;
		text-align: center;
    }
    .container {
		margin-left: 0%;
		margin-right: 0%;
		background-color: #EEECEC;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 1%;
		padding-right: 2%;
   }
	.champ_input {
		width: 80%;
		height: 2em;
		border :1px solid #185E8E;
		border-radius: 5px;
    }
}

@media (max-width:400px){
	h1 {
		color: #185E8E;
		font-size:1em;
		text-align: center;
    }
    img.logo_simplonve{
	float: none;
	width:40%;
}
    select {
    	width: 100%;
    }
    .bouton {
	    margin-left: 0;
	    width: inherit;
    }
}
