
<center><h4>Ce formulaire a été créé par<a href="mailto:rodolphe.robles@sfr.fr", title="me contacter"><i class="fa fa-envelope" aria-hidden="true"></i> Rodolphe Robles</a></h4>
      <h4><a href="https://git.framasoft.org/rodinux", title="mon dépôt framagit"><i class="fa fa-gitlab fa-2x" aria-hidden="true"></i></a> <a href="https://github.com/rodinux", title="mon dépôt github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> <a href="http://rubyonrails.org/", title="Ruby on Rails"><i class="fa fa-diamond fa-2x" aria-hidden="true"></i></a>  <a href="https://profiles.wordpress.org/rodinux/" title="mon profil Wordpress"><i class="fa fa-wordpress fa-2x" aria-hidden="true"></i></a> <a href="https://www.rodinux.fr" title="Ma passion pour les logiciels libres"><i class="fa fa-linux fa-2x" aria-hidden="true"></i></h4></center>

